@layer components {
  .btn-sandwich {
    @apply focus:border-4 focus:border-white-transparent focus:rounded-lg;
  }
}

.btn {
  padding: 1rem;
  font-size: 1rem;
}

.btn-register {
  border: none;
  background-color: color(display-p3 .974 .98 .98);
  color: color(display-p3 0 .478 1);
  text-decoration: none;
}

.btn-learn-more {
  border: 1px solid color(display-p3 .974 .98 .98);
  background-color: transparent;
  color: color(display-p3 .974 .98 .98);
  text-decoration: none;
}

