@use "../variables";
@use "../mixins";

@layer layout {
  .inscription {
    padding-top: 2rem;
    border-top: 1px solid variables.$primary-color;

    @container (min-width: 600px) {
      padding: 2rem;
    }

    @container (min-width: 900px) {
      padding: 3rem;
    }

    h2 {
      font-size: 1.8rem;

      @container (min-width: 600px) {
        font-size: 2rem;
      }

      @container (min-width: 900px) {
        font-size: 2.2rem;
      }
    }

    form {
      @container (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @container (min-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .form-label {
        font-size: 1rem;

        @container (min-width: 600px) {
          font-size: 1.1rem;
        }

        @container (min-width: 900px) {
          font-size: 1.2rem;
        }
      }

      .form-control {
        font-size: 1rem;

        @container (min-width: 600px) {
          font-size: 1.1rem;
        }

        @container (min-width: 900px) {
          font-size: 1.2rem;
        }
      }

      .btn {
        font-size: 1rem;

        @container (min-width: 600px) {
          font-size: 1.1rem;
        }

        @container (min-width: 900px) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .confirm-modal {
    .modal-dialog {
      width: 90sv; // Usando sv para scroll viewport

      @container (min-width: 600px) {
        width: 70sv;
      }

      @container (min-width: 900px) {
        width: 50sv;
      }
    }

    .modal-body {
      font-size: 1rem;

      @container (min-width: 600px) {
        font-size: 1.1rem;
      }

      @container (min-width: 900px) {
        font-size: 1.2rem;
      }
    }
  }
}
