
@layer layout {
  .venue {
    margin-top: 1rem;
    font-size: 1.25rem;

    @container (min-width: 900px) {
      font-size: 1.5rem;
    }
  }

  .subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;

    @container (min-width: 600px) {
      font-size: 1.75rem;
    }

    @container (min-width: 900px) {
      font-size: 2rem;
    }
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;

  @container (min-width: 600px) {
    font-size: 3rem;
  }

  @container (min-width: 900px) {
    font-size: 4rem;
  }
}

.container {
  container-type: inline-size;
}
