@use "../variables";
@use "../mixins";

@layer layout {
  .section-title {
    padding-top: 2.5rem;
    @include mixins.font(2.5rem, variables.$bold-weight, variables.$primary-color);
  }

  .section-description {
    margin: 0 10% 2rem;
    color: variables.$third-color;
    font-size: 1.25rem;
  }
}
