@layer layout {
  .section-title {
    padding-top: 2.5rem;
    color: color(display-p3 0 .478 1);
    font-size: 2.5rem;
    font-weight: 700;
  }

  .section-description {
    margin: 0 10% 2rem;
    color: color(display-p3 .424 .463 .494);
    font-size: 1.25rem;
  }
}
