<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" data-tilt data-tilt-scale="1.1" href="./index.html">
                <img alt="CyberSec 2024 logo" class="d-inline-block align-text-center"
                     height="72"
                     loading="lazy" src="./assets/images/logo.png"
                     width="90">
                <b>CyberSec 2024</b>
            </a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link header-nav" href="./speakers.html">Ponentes</a></li>
                    <li class="nav-item"><a class="nav-link header-nav" href="./contest.html">Concurso</a></li>
                    <li class="nav-item"><a class="nav-link header-nav" href="./program.html">Programa</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
