<header>
    <nav class="flex items-center bg-blue lg:flex py-2">
        <div class="w-full flex flex-wrap justify-between items-center px-3">
            <a class="no-underline text-white text-xl mr-4 py-[0.3125rem]" data-tilt data-tilt-scale="1.1"
               href="./index.html">
                <img alt="CyberSec 2024 logo" class="inline-block align-middle h-[72px]"
                     height="72"
                     loading="lazy" src="./assets/images/logo.png"
                     width="90">
                <b>CyberSec 2024</b>
            </a>
            <button id="navbarButton" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    class="bg-transparent border border-white-transparent-2 rounded px-3 py-1 lg:hidden"
                    type="button"
                    onclick="toggleMenu()">
                <span class="small-box-white-line"></span>
                <span class="small-box-white-line"></span>
                <span class="small-box-white-line"></span>
            </button>
            <div id="navbarNav" class="hidden basis-full lg:flex lg:flex-grow-0 lg:basis-auto lg:items-center lg:space-x-6">
                <ul class="ml-auto flex flex-col lg:flex-row">
                    <li class="py-2 lg:px-2"><a class="nav-link text-white-green-on-hover font-bold text-xl" href="./speakers.html">Ponentes</a></li>
                    <li class="py-2 lg:px-2"><a class="nav-link text-white-green-on-hover font-bold text-xl" href="./ia-contest.html">Concurso IA</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
