@use "variables";

// Mixins
@mixin border-left($color, $width: 4px) {
  border-left: $width solid $color;
}

@mixin font($size, $weight, $color: variables.$second-color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin display-flex($display, $flex-direction, $justify-content) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}
